*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  size: 16px;
  font-family:Arial, Helvetica, sans-serif;
}

.app-container {
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
  background-color: hsl(0, 0%, 98%);
}

.highlight {
    background-color: rgba(254, 254, 89, 0.714);
    width:min-content;
    border-radius: 5px;
}



.comparison-guide form button {
  width:max-content;
  margin: 1em;
}

form {
margin: 1em;
}

.submit {
margin-bottom: 1em;
}


.dropdown-item .sidebar .item{
  display: flex;

}

.dropdown-content {
  max-height: 10em;
  /* min-height: fit-content; */
  width: 20em;
  overflow: scroll;
  display: flex;
  flex-flow: row wrap;
}



.dropdown-menu {
  display: flex;
  justify-content: flex-end;
}

.dropdown-item{
  size: 5px;
}

.navbar-item.active{
  font-weight: bold;
  color:#485fc7
}

.input {
  margin: .2em;
}

.icon, span {
  color: white;
}

.footer {
  margin-top: 1em;
}


.box {
  width: 50%;
  margin-bottom: 1em;
}

img {
  background-color: black;
}

.one {
  background-color: #485fc7;
}

.copy-write {
  display: flex;
  margin: .5em;
}

.logo {
  margin-left: 50%;
}

.title {
  display: flex;
}

.search-bar {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center;  */
  /* align-items: center; */
  align-self: center; 
}

.checkbox {
  width: max-content;
  display: flex;
  justify-content: flex-end;
  
}

.container {
  display: flex;
  flex-flow: row;
}

.checkbox-container {
  margin-bottom: 4em;
}

.table-body {
  border-bottom: .75em double rgba(45, 45, 45, 0.697);
  
  
}