*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  size: 16px;
}

.app-container {
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

.highlight {
    background-color: rgba(254, 254, 89, 0.714);
    width: fit-content;
    border-radius: 10px;
}

.comparison-guide {
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
}

.comparison-guide form button {
  width:max-content;
  margin: 1em;
}

form {
margin: 1em;
}

.submit {
margin-bottom: 1em;
}


.dropdown-item .sidebar .item{
  display: flex;

}

.dropdown-content {
  max-height: 15em;
  min-height: fit-content;
  overflow: scroll;
}

.navbar-item.active{
  font-weight: bold;
  color:#485fc7
}

.input {
  margin: .2em;
}

.icon, span {
  color: white;
}

.footer {
  margin-top: 1em;
}


